@model LtkdK22CNT3Lesson10.Models.LtkdAccount

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LtkdLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LtkdAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LtkdUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LtkdUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LtkdPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LtkdPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LtkdFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LtkdFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LtkdEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LtkdEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LtkdPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LtkdPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LtkdActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LtkdActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LtkdID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
